/**
 * Unofficial Rackspace theme, based on lvh's personal theme
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

$rackspaceRed: #C40022;
$rackspaceDarkGray: #1A1A1A;

$mainFont: Gotham, Helvetica, sans-serif;
$mainColor: $rackspaceDarkGray;

$headingFont: $mainFont;
$headingColor: $mainColor;
$headingTextShadow: none;
$headingTextTransform: none;
$heading1TextShadow: none;

$backgroundColor: lighten($mainColor, 90%);

$linkColor: $rackspaceRed;
$linkColorHover: lighten($linkColor, 10%);
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  font-weight: 300;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-weight: 300;
}

.reveal code, .reveal .src {
  font-family: Menlo, monospace;
}

.reveal .src {
  font-size: .8em;
  box-shadow: none;
}

.reveal pre {
  display: inline-block;
  width: auto;
}

.reveal section img {
  margin: 15px 0px;
  background: rgba(255,255,255,0.12);

  border: none;
  box-shadow: none;
}

.reveal blockquote {
  box-shadow: none;
}

.reveal h1 {
  font-size: 3em;
}

.reveal h2 {
  font-size: 2em;
}

.reveal h4 {
  font-size: 1.55em;
}

.reveal .progress {
  height: 7px;
}
